# Clerk
NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=pk_test_XXXX
CLERK_SECRET_KEY=sk_test_XXXX
E2E_CLERK_RESEARCHER_EMAIL=si-research-tester-XXX@XXX
E2E_CLERK_RESEARCHER_PASSWORD=XXXX
E2E_CLERK_MEMBER_EMAIL=si-member-tester-XXX@XXX
E2E_CLERK_MEMBER_PASSWORD=XXXX

ALWAYS_CREATE_ECR=f
SIMULATE_IMAGE_BUILD=t
DEBUG=none

# Mailgun
MAILGUN_DOMAIN=YOUR_DOMAIN
MAILGUN_API_KEY=YOUR_KEY
DOMAIN_NAME=localhost:4000
