services:
    postgres:
        image: 'postgres:16'
        volumes:
            - pgdata:/var/lib/postgresql/data
        networks:
            - mgmnt-app
        environment:
            - POSTGRES_USER=mgmnt
            - POSTGRES_PASSWORD=mgmntpass
            - POSTGRES_DB=mgmnt_dev
        healthcheck:
            test: ['CMD-SHELL', 'pg_isready -U mgmnt -d mgmnt_dev']
            interval: 10s
            retries: 5
            start_period: 30s
            timeout: 10s
    dbgate:
        image: dbgate/dbgate
        restart: always
        container_name: dbgate
        networks:
            - mgmnt-app
        ports:
            - '3000:3000'
        volumes:
            - dbgate-data:/root/.dbgate
        environment:
            CONNECTIONS: bma
            LABEL_bma: Postgres
            SERVER_bma: postgres
            USER_bma: mgmnt
            PASSWORD_bma: mgmntpass
            PORT_bma: 5432
            ENGINE_bma: postgres@dbgate-plugin-postgres
    seaweedfs:
        image: chrislusf/seaweedfs
        ports:
            - '8333:8333'
        volumes:
            - seaweedfs-data:/data
        environment:
            AWS_ACCESS_KEY_ID: si-local-s3
            AWS_SECRET_ACCESS_KEY: si-local-s3
        command: server -s3 -dir=/data
        restart: unless-stopped
        networks:
            - mgmnt-app
        healthcheck:
            test: ['CMD-SHELL', 'nc -w 1 127.0.0.1 8333 < /dev/null']
            interval: 15s
            timeout: 10s
            retries: 5
            start_period: 15s
    create-buckets:
        image: amazon/aws-cli
        depends_on:
            seaweedfs:
                condition: service_healthy
        restart: 'no'
        environment:
            AWS_ACCESS_KEY_ID: si-local-s3
            AWS_SECRET_ACCESS_KEY: si-local-s3
            AWS_DEFAULT_REGION: us-east-1
        entrypoint: >
            /bin/sh -c "
            aws --endpoint-url http://seaweedfs:8333 s3 mb s3://mgmt-app-local;
            exit 0;
            "
        networks:
            - mgmnt-app
    mgmnt-app:
        container_name: mgmnt-app
        depends_on:
            postgres:
                condition: service_healthy
                restart: true
        environment:
            - CI=$CI
            - NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=$NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY
            - CLERK_SECRET_KEY=$CLERK_SECRET_KEY
            - AWS_ACCOUNT_ID=$AWS_ACCOUNT_ID
            - CLERK_RESEARCHER_EMAIL=$CLERK_RESEARCHER_EMAIL
            - CLERK_RESEARCHER_PASSWORD=$CLERK_RESEARCHER_PASSWORD
            - CLERK_REVIEWER_EMAIL=$CLERK_REVIEWER_EMAIL
            - CLERK_REVIEWER_PASSWORD=$CLERK_REVIEWER_PASSWORD
            - CLERK_ADMIN_EMAIL=$CLERK_ADMIN_EMAIL
            - CLERK_ADMIN_PASSWORD=$CLERK_ADMIN_PASSWORD
            - DATABASE_URL=postgres://mgmnt:mgmntpass@postgres:5432/mgmnt_dev
            - S3_ENDPOINT=http://seaweedfs:8333
            - S3_BROWSER_ENDPOINT=http://127.0.0.1:8333
            - AWS_ACCESS_KEY_ID=si-local-s3
            - AWS_SECRET_ACCESS_KEY=si-local-s3
            - BUCKET_NAME=mgmt-app-local
            - AWS_ACCOUNT_ID=000000000000
            - AWS_REGION=us-east-1
        build:
            context: .
            dockerfile: ./Dockerfile.dev
        volumes:
            - ./:/app/
            - node_modules:/app/node_modules
        restart: always
        networks:
            - mgmnt-app
        ports:
            - 4000:4000
        healthcheck:
            test: ['CMD-SHELL', 'curl -s http://localhost:4000/']
            interval: 30s
            retries: 5
            start_period: 45s
            timeout: 30s
networks:
    mgmnt-app:
volumes:
    pgdata:
    node_modules:
    dbgate-data:
    seaweedfs-data:
